<!doctype html>
<head><title>LIZ</title>
	 <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" /></head>
    <style>
        header nav li{
            display: inline-block;
            margin: 12px;
        }
        @media screen and (max-width:600px) {
            header nav li {
                display: none;
            }
            header nav {
                background-image:url("riuk.gif");
                background-repeat:no-repeat;
                               
            }
        }
    </style>
<body>
	<header>
		<nav> 
			<img src="logo.jpg" id="logo" style="height: 5%;width: 10% ;display: inline-block;">
			<ul>
				<li><a href="www.facebook.com">Facebook</a></li>
				<li><a href="www.twitter.com">Twitter</a></li>
				<li><a href="www.instagram.com">Instagram</a></li>
			</ul>
		</nav>	 
	</header>
	<article>
			<h1>Welcome</h1>
			<p>Este es el blog de Liz</p>
			<p>Estamos en el año 2019</p>
			<p>Tenemos nuevo alcalde</p>
	</article>

		
<footer><p>2018, Elizabeth.com</p></footer>
</body>

</html>

